<div class="select-options">

        <label>Category</label>
        <select [(ngModel)]="selectedCatrgory" (ngModelChange)="updateOpt()" >
          <option *ngFor="let item of categories" [ngValue]="item.value">
            {{item.viewValue}}
          </option>
        </select>
        <label>Post per page</label>
        <select [(ngModel)]="postLength" (ngModelChange)="updateOpt()" >
          <option *ngFor="let item of postlengths" [value]="item.value">
            {{item.viewValue}}
          </option>
        </select>
        <!-- <select [(ngModel)]="postLength" (selectionChange)="updateOpt()">
          <option *ngFor="let item of postlengths" [value]="item.value">
            {{item.viewValue}}
          </option>
        </select> -->

</div>
<div class="cards">
    <div *ngFor="let post of postList">
        <app-box [item]="post"></app-box>
    </div>
</div>
<div class="pagination">
    <span class="prev" *ngIf="clickcounter"><img src="./../../../assets/images/chvr2.png" (click)="paginate('prev')"></span> {{clickcounter+1}}
    <span class="next"><img src="./../../../assets/images/chvr2.png" (click)="paginate('next')"></span>
</div>
